# Entorno virtual 
venv/
env/
ENV/
claude/

# Python 
**/__pycache__/
*.py[cod]
*$py.class

# Datos 
data/raw/*.csv

# Jupyter Notebooks
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

.idea/
.Rhistory
.venv/
.claude/settings.local.json
.Rproj.user
Proyecto-1.Rproj
